.cta {
  background: url('../../img/cta/cta-bg.jfif')no-repeat center / cover;
}

.cta__title {
  padding-right: 24px;
  margin-bottom: 10px;
  margin-bottom: 19px;
}

.cta__subtitle {
  margin-bottom: 51px;
}

@media (max-width: 1200px) {
  .cta {
    padding-bottom: 56px;
  }

  .cta__title {
    padding-right: 8px;
    margin-bottom: 16px;
  }

  .cta__subtitle {
    margin-bottom: 47px;
    padding-left: 17px;
  }
}

@media (max-width: 480px) {
  .cta {
    padding-bottom: 30px;
  }

  .cta__title {
    margin-bottom: 13px;
    padding-right: 3px;
  }

  .cta__subtitle {
    margin-bottom: 35px;
    font-size: 12px;
    padding-left: 0;
  }
}